@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Iris Snow */
.iris-snow {
  background-color: white;
}
.iris-snow .link-button {
  background-color: black;
}
.iris-snow .link-button .link-text {
  color: white;
}

/* Iris White */
.iris-white {
  background-color: white;
}
.iris-white .link-button {
  background-color: #b1b1b1;
}
.iris-white .link-button .link-text {
  color: black;
}

/* Iris Grey */
.iris-grey {
  background-color: #c7c7c7;
}
.iris-grey .link-button {
  background-color: white;
}
.iris-grey .link-button .link-text {
  color: black;
}

/* Iris Blue */
.iris-blue {
  background-color: white;
}
.iris-blue .link-button {
  background-color: #3446bd;
}
.iris-blue .link-button .link-text {
  color: white;
}

/* Iris Purple */
.iris-purple {
  background-color: white;
}
.iris-purple .link-button {
  background-color: #6d42aa;
}
.iris-purple .link-button .link-text {
  color: white;
}

/* Iris Forest */
.iris-forest {
  background-color: white;
}
.iris-forest .link-button {
  background-color: #24c371;
}
.iris-forest .link-button .link-text {
  color: black;
}

/* Iris Dark */
.iris-dark {
  background-color: #2d2d2d;
}
.iris-dark .link-button {
  background-color: white;
}
.iris-dark .link-button .link-text {
  color: black;
}
.iris-dark .username {
  color: white;
}
.iris-dark .bio {
  color: white;
}

/* Iris Black */
.iris-black {
  background-color: black;
}
.iris-black .link-button {
  background-color: #2d2d2d;
}
.iris-black .link-button .link-text {
  color: white;
}
.iris-black .username {
  color: white;
}
.iris-black .bio {
  color: white;
}